@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}
@layer base {
  body {
    background: linear-gradient(90deg, #000000 0%, #02124b 100%);
    font-family: 'Montserrat', sans-serif;
    @apply bg-no-repeat h-full overflow-x-hidden;
  }
}

@layer components {
  .container {
    @apply px-2 md:px-5 mx-auto;
  }
  .btn {
    @apply px-4 xl:px-6 flex items-center gap-2 py-2 lg:py-0.5 bg-[#31505D] rounded-[100px]  text-xs xl:text-base 2xl:text-base font-semibold text-[#F3F3F3];
  }
  .btn_primary {
    @apply px-4 xl:px-6 py-2 lg:py-0.5 xl:text-base bg-[#0EAAEC] rounded-[100px]  text-xs 2xl:text-base font-semibold text-[#F3F3F3];
  }
}
